{% extends "layout.html" %}
{% block content %}
    <h1>Metallic</h1>
    <p>Metallic is an open source platform that makes it easy to register a cryotocurrency address under a username.</p>
    <p>Metallic makes making ethereum payments easy by allowing payments to be made between easily recognizeable usernames like @bob or @alice, rather than traditional, difficult to read ethereum addresses.</p>
    <p>If you don't have an account already, use the <a href="#">Create Account</a> page to claim a userame and make it easy for your friends to pay you. Just tell them your Metallic username and they will easily be able to find your address!</p>
    <p>Use the <a href="#">Search page</a> to look up usernames.</p>
    <p>Metallic is built on the Ethereum blockchain using smart contracts. Check out our source code <a href="#">here</a>.</p>
{% endblock content %}